@media screen and (max-width: 1024px){
    .chat_inner{
        padding: 10.8rem 1.5rem 5.4rem 2.5rem;
    }
    .chat_left{
        max-width: 28.5%;
    }
    .chat_text h5{
        max-width: 14.4rem;
        overflow: hidden;
        max-height: 2.2rem;
    }
    .chat_icon .time{
        display: none;
    }
    .chat_icon .icon{
        top: 0;
    }
    .chat_center{
        max-width: 49%;
    }
    .main_message .content{
        max-width: 80%;
    }
    .chat_right{
        max-width: 21%;
    }
    .main_message .content img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 990px){
    .chat_left{
        max-width: 45%;
    }
    .chat_right, .chat_left .right .text{
        display: none;
    }
    .chat_center {
        max-width: 54%;
    }
    .chat_right .text{
        display: none;
    }
    .chat_right .fa{
        display: inline-block;
    }
    .chat_right div{
        border: 1px solid #7b7b7b;
        width: 23.1rem;
    }
    .chat_left .right{
        display: block;
        margin: 3rem 0;
        padding: 1rem;
    }
    .chat_left .right div div{
        border: 1px solid #eee;
        width: calc(100% - 8rem);
        min-width: 23rem;
        display: inline-block;
        vertical-align: top;
        padding: 5px;
    }
    .chat_left .right div div p{
        font-weight: 500;
        display: inline-block;
        padding-left: 1rem;
    }
    .chat_left .right .fa-chevron-left{
        font-size: 2.5rem;
        padding: 1.3rem 2.5rem 0 2.5rem;
    }
    .chat_left .right .dots{
        float: right;
        font-size: 2rem;
        line-height: 40px;
        margin: 0 .8rem 0 0;
    }
    .chat_left .right .dots span{
        height: .6rem;
        width: .6rem;
        border-radius: 50%;
        background-color: #bdbdbd;
        display: inline-block;
        margin: 0 2px 3px 2px;
        -webkit-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
    }
    .chat_left .right .dots:hover span{
        background-color: #000;
        -webkit-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
    }
}
@media screen and (max-width: 830px){
    .chat_right{
        display: none;
    }
    .chat_left{
        max-width: 100%;
    }
    .chat_center{
        padding-left: 2.2rem;
        max-width: 100%;
        position: relative;
    }
    .chat_inner {
        padding: 3.8rem 8.5rem 3.4rem 8.5rem;
    }
    .chat_left input{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 620px){
    .chat_inner {
        padding: 2rem .1rem 1.6rem 0.1rem;
    }
    .chat_message {
        padding: 1.2rem 0rem 1.2rem 0rem;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .chat_message:hover {
        border: none;
        background-color: #f1f1f1;
        -webkit-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
    }
    .chat_left .right{
        padding: 0;
    }
    .chat_left .right .fa-chevron-left{
        padding: 1.3rem 1.5rem 0 0.5rem;
    }
    .chat_left .right div div{
        width: calc(100% - 4.05rem);
    }
    .chat_center{
        padding-left: 0;
    }
    .main_message .content {
        max-width: calc(100% - 6rem);
    }
    .message_box form textarea{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 430px){
    .message_box form{
        margin-top: 3rem;
    }
    .chat_left .right .fa-chevron-left{
        padding: 1.3rem 4rem 0 0rem;
    }
    .chat_left .right div div{
        width: calc(100% - 6.2rem);
    }
    .message_box form{
        border: none;
        padding: 0;
    }
    .message_box{
        position: relative;
    }
    .message_box::before{
        position: absolute;
        content: ' ';
        width: calc(100% + 32px);
        height: 2px;
        background-color: #000;
        top: 0;
        left: -16px;
        z-index: 2;
    }
    .message_box form textarea{
        height: 5rem;
        margin-top: 1rem;
    }
    .file_upload label .fa{
        font-size: 2rem;
    }
    .file_upload label {
        max-width: 22px;
        overflow: hidden;
        max-height: 22px;
    }
    .file_upload{
        width: 2.5rem;
    }
    form .more p{
        margin: 0 6.6rem 0 0;
    }
}