a, a:hover, a:focus, a:visited, a:active{
    text-decoration: none;
}
html { font-size: 62.5%; }  /* =10px */
body {
    font-size: 1.6rem;
    font-family: 'Alegreya Sans';
    color: #000;
} /* =16px */
.chat_inner{
    display: block;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 10.8rem 0 5.4rem 0;
}
.chat_left{
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
}
.chat_left form label{
    font-weight: bold;
}
.chat_left form img{
    max-height: 1.6rem;
    float: right;
}
.chat_left input {
    width: 100%;
    height: 5.6rem;
    border: 1px solid #000;
    padding: 1.6rem 4rem 1.6rem 1.6rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #b8b8b8;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 97% 1.6rem;
    background-size: 2.5rem 2.5rem;
    outline: none;
}
.chat_left .right{
    display: none;
}
.chat_message{
    display: block;
    width: 100%;
    padding: 2.2rem 1.4rem 2.2rem 1.7rem;
    border-left: 4px solid transparent;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    position: relative;
}
.chat_message:hover{
    border-left: 4px solid #ff5448;
    background-color: #f1f1f1;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.chat_text{
    display: inline-block;
    width: 73%;
    margin-left: 1.5rem;
    vertical-align: top;
}
.chat_text h5{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 5px 0;
    cursor: pointer;
}
.chat_text p{
    font-size: 1.6rem;
    color: #7c7c7c;
    margin: 0;
    max-height: 4.4rem;
    overflow: hidden;
}
.chat_icon{
    display: inline-block;
    width: 14%;
    vertical-align: top;
    text-align: right;
    right: 1.4rem;
    top: 2.4rem;
    position: absolute;
}
.chat_icon .time{
    opacity: 0.4;
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 5px;
}
.chat_icon .red{
    color: #fff;
    background-color: #ff5448;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    display: block;
    float: right;
    text-align: center;
    line-height: 1.6rem;
}
.chat_icon .icon{
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 2.5rem;
    right: -.3rem;
    background-color: #fff;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    display: none;
}
.chat_message:hover .chat_icon .icon{
    background-color: #f1f1f1;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.check img{
    max-height: 1rem;
}
.chat_center{
    display: inline-block;
    max-width: 48%;
    padding-left: 3rem;
}
.main_message .content{
    display: inline-block;
    vertical-align: top;
    max-width: 86%;
    margin-left: 1.6rem;
    padding-top: 0.8rem;
}
.chat_center .main_message p{
    display: inline-block;
    color: #7b7b7b;
    margin-bottom: 0.5rem;
}
.chat_center .main_message p span{
    color: #ff5448;
    margin-right: .6rem;
}
.main_message .content img{
    padding: .5rem 0 1.4rem 0;
}
.main_message .content .status img{
    padding: 0;
    margin-left: .9rem;
    width: auto;
}
.main_message .content .text{
    line-height: 1.19;
    color: #000;
    margin-bottom: 1.6rem;
}
.message_box form{
    width: 100%;
    border: solid 2px #000;
    margin-top: 6rem;
    padding: 1.6rem 2.4rem;
}
.message_box form textarea{
    resize: vertical;
    border: 1px solid;
    border-color: transparent transparent #bdbdbd transparent;
    outline: none;
    width: 100%;
    height: 7.6rem;
    font-size: 2rem;
    line-height: 1.5;
    color: #7b7b7b;
}
.message_box form div{
    position: relative;
}
.message_box span{
    content: "";
    position: absolute;
    bottom: .66rem;
    right: 0;
    height: 0;
    width: 0;
    display: block;
    border: .7rem solid;
    border-color: transparent #fff #fff transparent;
}
.file_upload{
    width: 14.5rem;
    margin-top: 1.7rem;
    display: inline-block;
}
#fl_inp{
    display:none;
}
.file_upload label{
    cursor:pointer;
    font-weight: 500;
}
.file_upload label .fa{
    margin-right: .8rem;
}
form .more{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: .9rem;
}
form .more p{
    display: inline-block;
    margin: 0 1.6rem 0 0;
    cursor: pointer;
    font-weight: 500;
}
form .more input[type=submit]{
    width: 10.4rem;
    height: 3.5rem;
    background-color: #ff5448;
    color: #fff;
    line-height: 3.5rem;
    text-align: center;
    outline: none;
    border: none;
    font-weight: bold;
}
.chat_right{
    display: inline-block;
    max-width: 20%;
    padding-left: 3rem;
    vertical-align: top;
}
.chat_right .fa{
    display: none;
}
.chat_right p{
    display: inline-block;
    margin-left: .8rem;
    font-weight: bold;
    line-height: 1.25;
}
.chat_right .text{
    font-weight: normal;
    margin: 3.1rem 0 0 0;
    font-weight: 300;
    line-height: 2.75;
    display: block;
}
